.register-overlay {
  position: fixed;
  inset: 0;

  background: rgba(0, 0, 0, 0.45);

  backdrop-filter: blur(8px);

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 9999;
}

.register-card {
  width: 450px;

  background: white;

  padding: 40px;

  border-radius: 24px;

  position: relative;

  box-shadow:
    0 20px 50px rgba(0, 0, 0, 0.12);

  animation: popup 0.3s ease;
}

@keyframes popup {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.register-card h1 {
  font-size: 32px;
  color: #2f3a2f;
  margin-bottom: 8px;
}

.register-card p {
  color: #6b7280;
  margin-bottom: 25px;
}

.register-card input {
  width: 100%;

  padding: 15px;

  border: 1px solid #e5e7eb;

  border-radius: 12px;

  margin-bottom: 15px;

  font-size: 14px;
}

.password-box {
  position: relative;
}

.password-box button {
  position: absolute;

  right: 12px;
  top: 12px;

  border: none;
  background: transparent;

  cursor: pointer;

  font-weight: 600;
}

.register-btn {
  width: 100%;

  border: none;

  padding: 16px;

  border-radius: 12px;

  background: #d89b4a;

  color: white;

  font-size: 15px;

  font-weight: 700;

  cursor: pointer;

  margin-top: 10px;
}

.close-btn {
  position: absolute;

  top: 18px;
  right: 18px;

  border: none;

  background: transparent;

  font-size: 20px;

  cursor: pointer;
}

.switch-auth {
  display: block;

  text-align: center;

  margin-top: 20px;

  color: #6b7280;
}

.switch-btn {
  border: none;

  background: transparent;

  color: #d89b4a;

  font-weight: 700;

  cursor: pointer;

  margin-left: 6px;
}