.navbar {
  height: 88px;

  position: sticky;
  top: 0;

  z-index: 1000;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 60px;

  background: rgba(232, 229, 220, 0.92);

  backdrop-filter: blur(12px);

  border-bottom: 1px solid #ece8df;
}

/* Logo */

.logo {
  font-size: 34px;

  font-weight: 800;

  letter-spacing: -1px;

  color: #2f3a2f;

  cursor: pointer;
}

/* Center Menu */

.navbar-center {
  display: flex;

  gap: 55px;
}

.nav-item {
  position: relative;

  display: flex;
  flex-direction: column;

  align-items: center;

  gap: 6px;

  color: #6b7280;

  cursor: pointer;

  transition: all 0.3s ease;
}

.nav-item svg {
  font-size: 20px;
}

.nav-item span {
  font-size: 14px;
  font-weight: 600;
}

.nav-item:hover {
  color: #2f3a2f;

  transform: translateY(-2px);
}

.nav-item.active {
  color: #2f3a2f;
}

.nav-item.active::after {
  content: "";

  position: absolute;

  bottom: -14px;

  width: 32px;
  height: 3px;

  border-radius: 999px;

  background: #d89b4a;
}

/* Right */

.navbar-right {
  display: flex;
  align-items: center;

  gap: 14px;
}

/* Host Button */

.host-btn {
  border: none;

  padding: 13px 22px;

  border-radius: 999px;

  background: #2f3a2f;

  color: white;

  font-size: 14px;
  font-weight: 700;

  cursor: pointer;

  transition: all 0.3s ease;
}

.host-btn:hover {
  transform: translateY(-2px);

  background: #232c23;
}

/* Globe */

.globe-icon {
  width: 46px;
  height: 46px;

  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  background: white;

  color: #374151;

  cursor: pointer;

  transition: all 0.3s ease;

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.04);
}

.globe-icon:hover {
  background: #f8f8f5;

  transform: scale(1.05);
}

/* Menu */

.menu-profile {
  width: 88px;
  height: 48px;

  background: white;

  border: 1px solid #ece8df;

  border-radius: 999px;

  display: flex;
  justify-content: space-evenly;
  align-items: center;

  cursor: pointer;

  transition: all 0.3s ease;

  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.04);
}

.menu-profile:hover {
  transform: translateY(-2px);

  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}

.menu-profile svg {
  font-size: 18px;

  color: #374151;
}