.footer {
  background: #d7cbae;

  color: #2f3a2f;

  padding: 50px 60px 20px;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  gap: 40px;
}

.footer-section h3,
.footer-section h4 {
  margin-bottom: 15px;
  font-size: 16px;
}

.footer-section p,
.footer-section li {
  color: #6b7280;
  font-size: 14px;
}

.footer-section ul {
  list-style: none;
}

.footer-section li {
  margin-bottom: 10px;
}

.footer-bottom {
  margin-top: 35px;
  padding-top: 20px;

  text-align: center;

  border-top: 1px solid #d6d3cc;

  font-size: 13px;

  color: #6b7280;
}
.footer {
  background: #2f3a2f;

  color: white;

  padding: 50px 60px 20px;
}

.footer-section h3,
.footer-section h4 {
  color: white;
}

.footer-section p,
.footer-section li {
  color: #d4d4d4;
}

.footer-section li:hover {
  color: #d4c29a;
}

.footer-bottom {
  border-top: 1px solid rgba(255,255,255,0.1);

  color: #cfcfcf;
}